.movie-card {
  padding: 0.8rem;
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(212, 198, 174);
}

.card-body {
  display: flex;
  flex-direction: column;
  button {
    width: 100px;
  }
}

.card-title {
  text-align: center;
  color: rgb(95, 58, 34);
}

.card-text {
  text-align: center;
  color: rgb(95, 58, 34);
}
