$black-brown: rgb(37, 37, 37);
$dark-brown: rgb(68, 63, 59);
$mid-dark-brown: rgb(81, 75, 69);
$mid-brown: rgb(111, 100, 88);

$light-toast: rgb(196, 177, 146);

$light-grey-brown: rgb(188, 181, 170);

$orange: rgb(225, 150, 99);
$butter-yellow: rgb(250, 241, 190);
$dark-butter-yellow: rgb(231, 209, 171);