footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(163, 82, 27, 0.89);
  div {
    width: 100%;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
    a {
      color: black;
      text-decoration: none;
    }
  }
}
