@import "colors";

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  .project-creators-div {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    .project-creators-p {
      text-align: center;
      width: 100%;
      margin: auto;
    }
  }
  .project-creators-social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      padding: 0 1%;
      a {
        color: $light-grey-brown;
        text-decoration: none;
        // img {
        //   //code
        // }
      }
    }
  }
}
