footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(95, 58, 34);
  color: rgb(250, 241, 190);
  div {
    width: 100%;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
    }
    a {
      color: rgb(250, 241, 190);
      text-decoration: none;
    }
  }
}
