@import "colors";

.main-header-div {
  width: 100%;
  display: flex;
  height: 20%;
  align-items: center;
  justify-content: center;
  .logo-div {
    display: flex;
    width: 20%;
    height: 100%;
    .logo {
      width: 20%;
    }
    h1 {
      width: 50%;
      font-size: 0.9em;
      font-family: "Pacifico";
      margin: auto auto auto 0;
    }
  }
  .search-bar-div {
    width: 30%;
    height: 100%;
    text-align: center;
    flex-wrap: wrap;
    #category-search {
      // margin: auto;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      .search-bar {
        width: 70%;
        border: 2px solid $mid-dark-brown;
        border-radius: 5px 0 0 5px;
        background-color: $dark-butter-yellow;
        font-size: 0.5em;
        border: 2px solid $mid-dark-brown;
        border-radius: 5px 0 0 5px;
        background-color: $dark-butter-yellow;
        text-align: center;
      }
      #toast {
        height: 100%;
        font-size: 0.5em;
        align-self: center;
        color: $mid-dark-brown;
        border: 2px solid $mid-dark-brown;
        background-color: $light-toast;
        border-radius: 0 5px 5px 0;
        text-align: center;
        width: 20%;
        a {
          color: $mid-dark-brown;
          text-decoration: none;
        }
        #toast:hover {
          background-color: rgb(225, 150, 99);
        }
      }
    }
  }
  .nav-div {
    display: flex;
    width: 50%;
    height: 100%;
    flex-wrap: wrap;
    margin: auto;
    font-size: 30px;
    nav {
      // margin: right;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      align-items: center;
      height: 100%;
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        list-style-type: none;
        li {
          list-style-type: none;
          height: 100%;
          text-align: center;
          width: 100%;
          .nav-link {
            font-size: 0.9rem;
            text-decoration: none;
            color: $mid-brown;
            // input {
            //   background-color: $butter-yellow;
            // }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 300px) and (max-height: 540px) {
  .main-header-div {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    .logo-div {
      width: 40%;
      height: 50%;
      .logo {
      }
      h1 {
      }
    }

    .search-bar-div {
      width: 60%;
      height: 50%;
      #category-search {
        width: 100%;
        #category {
          font-size: 0.8rem;
        }
        #toast,
        input {
          font-size: 0.8rem;
        }
      }
    }
  }
  .nav-div {
    height: 50%;
    width: 100%;
    justify-content: space-evenly;
    nav {
      justify-content: space-evenly;
      margin: auto;
      .nav-link {
        font-size: 0.7rem;
      }
    }
  }
}
