.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  .carousel-div {
    display: flex;
    justify-content: center;
    .carousel {
      height: 70vh;
      width: 60vw;
      align-items: center;
      img {
        margin: 3% auto;
        max-height: 70%;
        max-width: 70%;
      }
    }
  }
}
