@import '~bootstrap/scss/bootstrap';
@import 'movie-list';
@import 'card';
@import 'header';
@import 'movieShow';
@import 'register';
@import 'login';
@import 'home';
@import 'movie-add';
@import 'footer';

* {
  box-sizing: border-box;
}

body {
  margin: 2%;
  display: flex;
  justify-content: center;
}

