@import "~bootstrap/scss/bootstrap";
@import "movie-list";
@import "card";
@import "header";
@import "movieShow";
@import "register";
@import "login";
@import "home";
@import "movie-add";
@import "footer";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  color: rgb(95, 58, 34);
  #root {
    width: 100%;
    height: 100%;
  }
}

.form-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-movie-form,
.login-form,
.edit-a-movie-form,
.registration-form {
  padding: 3%;
  text-align: center;
  border: 1px solid rgb(250, 241, 190);
  border-radius: 5px;
  flex-direction: column;
  input {
    text-align: center;
    margin: 2.5%;
    width: 100%;
    background-color: rgb(250, 241, 190);
  }
}

#submit-button {
  background-color: rgb(95, 58, 34);
  width: 100%;
}
