@import "colors";

.movie-show-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5%;
  width: 100vw;
  height: 100vh;
  padding: 1%;
  img {
    max-width: 45vw;
    max-height: 90vh;
    border: 2px solid grey;
    border-radius: 5px;
  }
  .movie-data-container-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5%;
    width: 50vw;
    max-height: 80vh;
    padding: 0.5%;
    background-color: $light-toast;
    color: $mid-dark-brown;
    border: 2px solid grey;
    border-radius: 5px;
  }
  .movie-info {
    display: flex;
    flex-direction: column;
    max-height: 90%;
    align-items: left;
    padding: 2%;
    background-color: $dark-butter-yellow;
    border: 2px solid grey;
    border-radius: 5px;
    h1 {
      align-self: center;
      margin: 0 auto 2.5% auto;
    }
    img {
      border: none;
      width: 50px;
      height: 50px;
    }
  }
  .comments-container-div {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    align-items: left;
    margin: 0.5%;
    padding: 1%;
    background-color: $butter-yellow;
    border: 2px solid grey;
    border-radius: 5px;
    h5 {
      align-self: center;
      margin: 0 auto;
    }
    .all-comments {
      .single-comment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2%;
        padding: 1%;
        color: rgb(225, 150, 99);
        background-color: rgb(228, 226, 226);
        border: 2px solid rgb(228, 226, 226);
        border-radius: 10px;
      }
    }
  }
  .alter-movie-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    padding: 1%;
    gap: 2%;
    background-color: $butter-yellow;
    border: 2px solid grey;
    border-radius: 5px;
  }
}

@media screen and (max-width: 300px) and (max-height: 540px) {
  .movie-show-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 100vh;
    overflow: scroll;
    img {
      margin: 40% auto auto auto;
    }
    .movie-data-container-div {
      width: 100%;
      margin: auto;
      text-align: center;
    }
    .movie-info {
      width: 100vw;
      text-align: center;
      display: flex;
      .not-rated-yet {
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }
    }
    .comments-div {
      overflow: scroll;
      display: flex;
      ul {
        display: flex;
        li {
          // code
          display: flex;
          margin: 1%;
          div {
            display: flex;
            margin: 1%;
          }
        }
      }
    }
    .alter-movie-buttons {
      width: 100vw;
    }
  }
}
