body {
  height: 100%;
}

main {
  background-color: rgb(82, 68, 58);
  color: rgb(250, 241, 190);
  height: 100%;
}

.movie-list-div {
  padding: 0;
  height: 100%;
  overflow: scroll;
}

.movie-list {
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  li {
    list-style: none;
    margin: 10px auto;
    div {
      height: 100%;
    }
  }
}
