.form-section {
  display: flex;
}

.add-movie-form,
.login-form,
.edit-a-movie-form,
.registration-form {
  text-align: center;
  border: 1px solid rgb(250, 241, 190);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  input {
    text-align: center;
    margin: 2.5%;
    width: 100%;
    background-color: rgb(250, 241, 190);
  }
}

#submit-button {
  background-color: rgb(95, 58, 34);
  width: 100%;
}
