.created-movies-div {
  overflow: scroll;
}

.personal-details {
  img {
    margin: auto;
    height: 20%;
    width: 20%;
  }
}

.movies-added-by {
  color: rgb(212, 198, 174);
}

// .personal-details {
//   height: 100%;
// }
