@import "colors";

.profile-container {
  height: 100%;
  .personal-details {
    background-color: $light-toast;
    .profile-card {
      background-color: $light-toast;
      .card-image {
        margin: 2% auto 0 auto;
        background-color: $dark-butter-yellow;
        height: 10%;
        width: 10%;
        border: 3px solid $mid-dark-brown;
        border-radius: 50%;
      }
      .card-body {
        text-align: center;
        .card-title {
          .username {
            font-size: 3rem;
            color: $mid-dark-brown;
          }
        }
      }
    }
  }
  #created-movies-div {
    width: 100%;
    height: 80vh;
    overflow: scroll;
    text-align: center;
    .movies-add-by {
      color: $light-toast;
      text-align: center;
      margin-top: 2%;
      font-size: 2rem;
    }
    .movie-list {
      width: 100%;
      height: 100%;
      li {
        list-style: none;
      }
    }
  }
}

@media screen and (max-width: 300px) and (max-height: 540px) {
  .profile-container {
    .personal-details {
      .profile-card {
        height: 40vh;
        overflow: scroll;
        .card-image {
          height: 14vh;
        }
        .card-body {
          display: flex;
          flex-direction: column;
          .card-title {
            .card-text {
              font-size: 1rem;
            }
            .username {
              font-size: 1rem;
            }
          }
        }
      }
    }
    .created-movies-div {
      .movies-add-by {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 1080px) and (max-height: 810px) {
  .profile-container {
    .personal-details {
      .profile-card {
        // .card-image {
        // }
        .card-body {
          .card-title {
            text-align: center;
            margin: auto;
            // .card-text {
            // }
            .username {
              text-align: center;
            }
          }
        }
      }
    }
    //   .created-movies-div {
    //     .movies-add-by {
    //     }
    //     .movie-list {
    //     }
    //   }
    // }
  }

  // .personal-details {
  //   height: 100%;
}
